#container {
        position: relative;
        overflow: hidden;
        border: 1px solid #000;
        /* width: 75vw; */
        height: 100vh;
        display: flex;
        justify-content: center; 
        align-items: center; 
        /* max-width: 1400px; */
        border-style: solid;
        border-width: 5px;
        border-radius: 10px;
        border-color: black;
        flex: 1;
        min-width: 0;   

}


#sceneImg1 {
    position: absolute;
    top: 0;
    left: 0;
    background-image: url('./assets/Newimg1_.png');
    width: 100%;
    height: 100%;
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    opacity: 1;  
    animation: showScene1 10s infinite, zoomScene1 10s infinite;
  

    

}



#sceneImg2 {
    position: absolute;
    top: 0;
    left: 0;
    background-image: url('./assets/Newimg2.png');
    width: 100%;
    height: 100%;
    /* background-size: cover; */
    background-size: auto 100%;
    /* background-position: 100% 0; */
     background-position: 0 0;
    background-repeat: repeat-x;
    opacity: 0;  
    animation: showScene2 10s infinite, scrollScene2 35s linear infinite;
    z-index: 1;
}



.scene-text {
  position: absolute;
  color: white;
  font-weight: bold;
  text-shadow: 2px 2px 6px rgba(0,0,0,0.6);
  white-space: nowrap;
  opacity: 1; 
}


#sceneImg1 .line1 {
  top: 25%;              
  left: 55%;             
  transform: translateX(-50%); 
  font-size: 2.2rem;      
  position: absolute;
  color: black
}



#sceneImg1 .line2 { 
  top: 33%; 
  left: 50%; 
  transform: translateX(-50%); 
  font-size: 1rem; 
  position: absolute; 
  opacity: 0; 
  animation: slideInLine2 10s linear infinite; 
  animation-delay: 0s; 
  animation-fill-mode: forwards; 
}

#sceneImg1 .line3 { 
  top: 36%; 
  left: 50%; 
  transform: translateX(-50%); 
  font-size: 1rem; 
  position: absolute; 
  opacity: 0; 
  animation: slideInLine3 10s linear infinite; 
  animation-delay: 0s; 
  animation-fill-mode: forwards; 
}


#sceneImg2 .line4 {
  top: 20%;    
  left: 50%;
  transform: translateX(-50%);
  font-size: 2rem;
  position: absolute;
  opacity: 0;
  animation: slideInLine4 10s linear infinite;
  animation-fill-mode: forwards;
}

#sceneImg2 .line5 {
  top: 25%; 
  left: 50%;
  transform: translateX(-50%);
  font-size: 2rem;
  position: absolute;
  opacity: 0;
  animation: slideInLine5 10s linear infinite;
  animation-fill-mode: forwards;
}

#sceneImg2 .line6 {
  top: 30%; 
  left: 50%; 
  transform: translateX(-50%);
  font-size: 2rem;
  position: absolute;
  opacity: 0;
  animation: slideInLine6 10s linear infinite;
  animation-fill-mode: forwards;
}



@keyframes slideInLine2 { 
  0%, 10%   { transform: translateX(-150%); opacity: 0;  color: white; }
  20%, 70%  { transform: translateX(-35%); opacity: 1; color: #FFEF80}
  100%      { opacity: 0; color: white; } 
}

@keyframes slideInLine3 { 
  0%, 20%   { transform: translateX(-150%); opacity: 0; color: white;}
  30%, 70%  { transform: translateX(-65.5%); opacity: 1; color: #FFEF80 }
  100%      { opacity: 0; color: white;} 
}



@keyframes slideInLine4 {
  0%, 70%   { transform: translateX(-150%); opacity: 0; color: white; }  
  71%, 100% { transform: translateX(-50%); opacity: 1; color: #FFBF00; }   
}

@keyframes slideInLine5 {
  0%, 80%   { transform: translateX(-150%); opacity: 0; color: white;}  
  81%, 100% { transform: translateX(-28%); opacity: 1; color: #FFBF00;}   
}

@keyframes slideInLine6 {
  0%, 90%   { transform: translateX(-150%); opacity: 0; color: white;}  
  91%, 100% { transform: translateX(-21%); opacity: 1; color: #FFBF00}   
}




#book-btn {

    position: absolute;      
    top: 10px;               
    right: 20px; 
    padding: 15px 30px;
    font-size: 1.2rem;
    
    background-color: greenyellow;
    color: #0a0a0a;
    border: none;
    border-radius: 8px;
    border-style: solid;
    cursor: pointer;
    box-shadow: 0 4px 6px rgba(0,0,0,0.3);
    z-index: 10;
}


#home-btn {
    position: absolute;       
   top: 10px;          
    left: 20px;           
    padding: 15px 30px;
    font-size: 1.2rem;
    
    background-color: rgba(0, 123, 255, 0);
    color: #fff;
    border: none;
    border-radius: 8px;
    border-style: solid;
    cursor: pointer;
    box-shadow: 0 4px 6px rgba(0,0,0,0.3);
    z-index: 10;         
}



#stepid{

    position: absolute;
    width: 650px;
    height: 500px;
    /* top: 280px;
    left: 395px; */
    top: 68%;
    left: 60%;
    z-index: 2;
    display: none;
    transform: translate(-50%, -50%);
    

    background: rgba(255, 255, 255, 0.08);
    backdrop-filter: blur(6px);
    -webkit-backdrop-filter: blur(6px);

    border: 1px solid rgba(255, 255, 255, 0.2);
    border-radius: 20px;

    
}

.testing {
    position: relative;
    display: flex;
    align-items: center;
    gap: 10px;
    margin-bottom: 12px;
    margin-left: 180px;
    top: 50px;
}

.testing label {
    width: 180px;   
    color: white;
    font-weight: bold;
    font-size: medium;
}

.headings{
    
    position: relative;
    color: blue;
    left: 125px;
    text-decoration: underline;
    text-decoration-color: black;
    font-weight: bold;
    font-size: larger;
    top: 50px;
    left: 210px;
}



.progress-bar{

    position: relative;
    margin-left: 260px;
    top: 20px;
}

.progress-label{

    position: relative;
    top: 20px;
    margin-left: 285px;
    font-weight: bold;

}


#next1{

    position: relative;
    top: 80px;
    left: 180px;
    width: 100px;
    background-color: green;
    font-weight: bold;
    border-color: #000;
    border-style: solid;
    border-width: 1px;
    
    
}


.step2-fields{

   position: relative;
    display: flex;
    align-items: center;
    gap: 10px;
    margin-bottom: 12px;
    margin-left: 115px;
    top: 75px;

}


.step2-fields label{

    width: 180px;   
    color: white;
    font-weight: bold;
    font-size: medium;
    margin-left: 60px;

}

.step2-btns button{

    position: relative;
    top: 115px;
    left: 175px;
    background-color: green;
    width: 100px;
}

.step2-fields input{
    
    position: relative;
    width: 220px;
    right: 40px;
}


.step3-fields{

    position: relative;
    top: 60px;
    left: 50px;
    display: flex;
    flex-direction: column;
    gap: 15px;


}



.step3-fields label{
   
     width: 180px;   
    color: white;
    font-weight: bold;
    font-size: medium;
}

.step3-fields select{
    position: relative;
    width: 250px;
    left: 50px;
}

.radio-group{
    
    position: relative;
    left: 250px;
}

.step3-btns button{

    position: relative;
    top: 80px;
    left: 200px;
    background-color: green;
    width: 100px;
}

.step4-fields{
    position: relative;
    top: 80px;
    left: 65px;
}

.step4-fields label{

     width: 180px;   
    color: white;
    font-weight: bold;
    font-size: medium;
}


.step4-btns button{

    position: relative;
    top: 80px;
    left: 200px;
    background-color: green;
    width: 100px;

}



#final-heading{

    position: relative;
    font-size: larger;
    font-weight: bold;
    color: blue;
    top: 10px;
    left: 175px;
    text-decoration: underline;
    text-decoration-color: black;
}


.finaldisp{

    position: absolute;
    top: 80px;
   margin-left: 130px;
   left: 100px;
   color: black;
   font-size: medium;
   margin: 8px 0;

}

.finaldisp p span{


    color: white;
    font-size: medium;
    font-weight: bold;

}


.finaldisp strong{
    display: inline-block;
    width: 220px;
}


#another{

    position: relative;
    top: 370px;
    left: 100px;
    background-color: green;
    font-weight: bold;
    

}


#return-hm{

    position: relative;
    top: 370px;
    left: 200px;
    background-color: green;
    font-weight: bold;

}



.student-label {
  position: fixed;
  /* top: 680px; */
  bottom: 20px;
  left: 5%;
  transform: translateX(-50%);
  background-color: transparent;
  color: white;
  padding: 8px 12px;
  font-size: 14px;
  border-radius: 6px;
  z-index: 10000;
  line-height: 1.2;
}



@keyframes showScene1 {
    0%, 50% { opacity: 1; }
    55%, 100% { opacity: 0; }
}


@keyframes showScene2 {
    0%, 50% { opacity: 0; }
    55%, 100% { opacity: 1; }
   
}

@keyframes zoomScene1 {
    0%   { transform: scale(1); }
    50%  { transform: scale(1.8); }  
    100% { transform: scale(1.5); }
}


/* @keyframes scrollScene2 {
    50%   { background-position: 2500% 0; }
    100% { background-position: 0 0; }
} */

@keyframes scrollScene2 {
    0%    { background-position: 0 0; }
    100%  { background-position: -2000px 0; }   /* fixed px, consistent on all screens */
}

body {
  margin: 0;
  display: flex;               
  background-color: #d3d3d3; 
  width: 100vw;  
  height: 100vh;   
  overflow: hidden; 
  gap: 0;       
}







/* Side Bar */

html {
    box-sizing: border-box;
}

*,
*:before,
*:after {
    box-sizing: inherit;
}

.clear::after {
    content: "";
    clear: both;
    display: table;
}

html,
body {
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-size: 15px;
    line-height: 1.5;
    color: #000;
    
}

#sidebar {
    width: 380px;    
    max-width: 400px;       
    height: 100vh;           
    position: relative;         
    top: 0;
    right: 0;               
    border-left: 1px solid #000; 
    background-color: #f0f0f0;    
    z-index: 1000;          
    overflow-y: hidden ;    
    overflow-x: hidden;   
    padding: 0px;
    border-style: solid;
    border-width: 2px;
    border-radius: 4px;
    border-color: lightseagreen;
    flex-shrink: 0;
}

.scene {
    position: relative;
    overflow: hidden;
    border: 1px solid #000;
    width: 75vw;
    height: 100vh;
}

#scene1 {
 
    visibility: hidden;   
    position: absolute;   
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: 5; 

    
}

#img1 {

    width: 100%;
    height: 120%;
    object-fit: fill;  
    position: absolute;
     top: -10%;
    left: 0;
  
} 


#scene2 {
    visibility: hidden;
    position: absolute;    
    top: 0;
    left: 0;
    width: 100%;           
    height: 100%;
    z-index: 5; 
}


#img2 {
    position: absolute;    
    width: 25%;           
    height: 20%;         
    object-fit: contain;     
    bottom: 0;
    left: 0;
    z-index: 10;           
    
}



#scene3 {
    visibility: hidden;   
    position: absolute;   
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: 5; 
}


#img3 {
    width: 100%;
    height: 120%;
    object-fit: fill;  
    position: absolute;
     top: -10%;
    left: 0;
   
}

#scene4 {
    visibility: hidden;   
    position: absolute;   
    bottom: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: 5; 
    
}


#img4 {
    position: absolute;
    width: 110px;
    height: 20vh;
    bottom: 0;        /* anchor to bottom */
    top: auto;        
    left: 0px;
    z-index: 10;
    object-fit: contain; 
}
        


#scene5 {
    visibility: hidden;   
    position: absolute;   
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: 5; 
}


#img5 {
       width: 100%;
    height: 120%;
    object-fit: fill;  
    position: absolute;
     top: -10%;
    left: 0;
   
}


#scene6 {
    visibility: hidden;   
    position: absolute;   
    bottom: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: 5; 
    
}


#img6 {
  
  position: absolute;   
  bottom: -30px;            
  left: 50%;            
  transform: translateX(-50%); 
  width: 100%;           
  height: 50%;         
  object-fit: contain;
}


#scene7 {
    visibility: hidden;   
    position: absolute;   
    bottom: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: 5; 
    
}


#img7 {
  
  position: absolute;   
  bottom: -30px;            
  left: 50%;            
  transform: translateX(-50%); 
  width: 100%;           
  height: 50%;         
  object-fit: contain;
}




#txt1 {
position: absolute;
    font-size: 20px;
    right: 20px;
    top: 20px;
    left: 50%;
    transform: translateX(-50%);
    color:  black;
    text-shadow: -1px -1px 0 #000, 1px -1px 0 #000, -1px 1px 0 #000, 1px 1px 0 #000;
}


#txt2 {
  position: absolute;
    font-size: 25px;
    right: 20px;
    top: 70px;
    left: 50%;
    transform: translateX(-50%);
    color: blueviolet;
    text-shadow: -1px -1px 0 #000, 1px -1px 0 #000, -1px 1px 0 #000, 1px 1px 0 #000;
    
    
}

#txt3 {
position: absolute;
    font-size: 25px;
    right: 20px;
    top: 20px;
    left: 50%;
    transform: translateX(-50%);
    color:  #fff;
    text-shadow: -1px -1px 0 #000, 1px -1px 0 #000, -1px 1px 0 #000, 1px 1px 0 #000;
}


#txt4 {
position: absolute;
    font-size: 20px;
    right: 80px;
    top: 20px;
    left: 49%;
    transform: translateX(-50%);
    color: green;
    text-shadow: -1px -1px 0 #000, 1px -1px 0 #000, -1px 1px 0 #000, 1px 1px 0 #000;
}

#txt5 {
    position: absolute;
    font-size: 20px;
    top: 120px;
    left: 55%;
    transform: translateX(-65%);
    background-color: yellow;   
    padding: 8px 22px;         
    border-radius: 25px; 
    border-style: solid;
    border-width: 3px;
    color: black;
    text-shadow: -1px -1px 0 #000, 1px -1px 0 #000, -1px 1px 0 #000, 1px 1px 0 #000;
}


#adReplay {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-60%, -50%);
  font-size: 50px;
  color: white;
  background-color: rgba(0, 0, 0, 0.5);
  padding: 10px 15px;
  border-radius: 5px;
  cursor: pointer;
  z-index: 1000;
  opacity: 0;
  transition: opacity 0.3s ease;
}


/* For small screens */
@media (max-width: 768px) {

     input, select {
        font-size: 16px;   /* iOS won't zoom if font-size is 16px or more */
    }

     html, body {
        position: fixed;
        overflow: hidden;
        width: 100%;
        height: 100dvh;
    }

    body {
         position: fixed;
        overflow: hidden;
        width: 100vw;
        height: 100dvh;
        flex-direction: column;
    }


    #sceneImg1 .line1 {


        top: 30%;
        font-size: 0.85rem;      
}



 #sceneImg1 .line2 { 
  top: 34%; 
  left: 40%;
  font-size: 0.4rem; 
}


#sceneImg1 .line3 { 
  top: 36%; 
  left: 40%; 
 
  font-size: 0.4rem; 
}


#sceneImg2 .line4 {
  top: 14%;    
  left: 33%;
 
  font-size: 1.2rem;
 
}

#sceneImg2 .line5 {
  top: 18%; 
  left: 33%;
  
  font-size: 1.2rem;

}

#sceneImg2 .line6 {
  top: 22%; 
  left: 33%; 

  font-size: 1.2rem;
  
}

#img2 {
    position: absolute;    
    width: 40%;           
    height: 35%;         
    object-fit: contain;     
    bottom: 0;
    left: -52px;
    z-index: 10;           
    
}

#img4 {
     width: 40%;
    height: 35%;  
    top: auto;
    bottom: 0;
    left: -52px;
}

#txt1 {
position: absolute;
    font-size: 15px;
    right: 20px;
    top: 10px;
    left: 60%;
    transform: translateX(-50%);
    color:  black;
    text-shadow: -1px -1px 0 #000, 1px -1px 0 #000, -1px 1px 0 #000, 1px 1px 0 #000;
}


#txt2 {
  position: absolute;
    font-size: 15px;
    right: 20px;
    top: 40px;
    left: 60%;
    transform: translateX(-50%);
    color: blueviolet;
    text-shadow: -1px -1px 0 #000, 1px -1px 0 #000, -1px 1px 0 #000, 1px 1px 0 #000; 
}

#txt3 {
position: absolute;
    font-size: 15px;
    right: 20px;
    top: 10px;
    left: 60%;
    transform: translateX(-50%);
    color:  #fff;
    text-shadow: -1px -1px 0 #000, 1px -1px 0 #000, -1px 1px 0 #000, 1px 1px 0 #000;
}
   
  #txt4 {
position: absolute;
    font-size: 15px;
    right: 80px;
    top: 3px;
    left: 55%;
    transform: translateX(-50%);
    color: green;
    text-shadow: -1px -1px 0 #000, 1px -1px 0 #000, -1px 1px 0 #000, 1px 1px 0 #000;
}

    #txt5 {
    position: absolute;
    font-size: 10px;
    top: 55px;
    left: 51%;
    width: 29%;
    height: 25%;
    transform: translateX(-55%);
    padding: 8px 20px;
    background-color: yellow;   
   
    border-radius: 25px;
    border-width: 3px;
    border-style: solid; 

    color: black;
    text-shadow: -1px -1px 0 #000, 1px -1px 0 #000, -1px 1px 0 #000, 1px 1px 0 #000;
}


#img6 {
  
  position: absolute;   
  bottom: -5px;            
  left: 50%;            
  transform: translateX(-50%); 
  width: 100%;           
  height: 50%;         
  object-fit: contain;
}

#img7 {
  
  position: absolute;   
  bottom: -5px;            
  left: 50%;            
  transform: translateX(-50%); 
  width: 100%;           
  height: 50%;         
  object-fit: contain;
}



     #next1 {
        top: -50px;
        left: 50%;
        transform: translateX(-50%);
        background-color: green;
        color: black;
        font-weight: bold;
        border-color: #000;
        border-style: solid;
        border-width: 1px;


    }

    .step2-btns button {
        top: -10px;
        left: 30px;
        background-color: green;
    font-weight: bold;
    color: black;
    border-color: #000;
    border-style: solid;
    border-width: 1px;
    }

    .step3-btns button {
        top: -40px;
        left: 10%;
        background-color: green;
        color: black;
        font-weight: bold;
        border-color: #000;
        border-style: solid;
        border-width: 1px;

    }

    .step4-btns button {
        top: -35px;
        left: 15px;
        background-color: green;
        color: black;
        font-weight: bold;
        border-color: #000;
        border-style: solid;
        border-width: 1px;
    }

      .step3-fields {
        top: -10px;
    }

   
    

    .step4-fields {
        top: -10px;
        left: 10px;
    }

    #container {
        width: 100vw;
        height: 82dvh;
        flex-shrink: 0;
    }

    #sidebar {
        width: 100%;
        max-width: 100%;
        height: 28dvh;
        flex-shrink: 0; 
        border-radius: 0;
    }

    #stepid {
        width: min(650px, 90vw);
        height: auto;
        min-height: 300px;
        top: 70%;
        left: 50%;
        transform: translate(-50%, -50%);
        /* overflow-y: auto; */
    }

    .testing {
        margin-left: 20px;
        flex-direction: column;
        align-items: flex-start;
        top: -40px;
    }

    .step2-fields {
        margin-left: -20px;
        flex-direction: column;
        align-items: flex-start;
        top: -18px;
    }

    .step2-fields input {
       
        right: -50px;
        width: 250px;
    }

    .step3-fields select {
        width: 80%;
        left: 0;
    }

    .radio-group {
        left: 0;
    }

    .headings {
        top: -10px;
        left: 65%;
        transform: translateX(-50%);
    }

    .progress-bar {
        top: 15%;
        margin-left: 95px;
    }

    .progress-label {
        top: 10%;
        margin-left: 115px;
    }

    .student-label {
        top: 75%;
        left: -7px;
        transform: none;
        
    }

#final-heading {
        left: 77%;
        transform: translateX(-50%);
        font-size: small;
        top: 5px;
    }

    .finaldisp {
        position: relative;
        top: 5px;
        left: 0;
        margin: 5px;
        padding: 0 5px;
        font-size: 11px;   /* reduce font size */
        width: 90%;        /* constrain to screen */
    }

    .finaldisp strong {
          width: 110px;      /* reduced further */
    font-size: 11px;
    }


    .finaldisp p span {
    font-size: 11px;
}

.finaldisp p {
    margin: 2px 0;     /* reduce spacing between lines */
}

    #another {

    top: -20px;
    left: 5px;
    font-size: 11px;
    padding: 5px 8px;
    background-color: green;
    color: black;
    font-weight: bold;
    border-color: #000;
    border-style: solid;
    border-width: 1px;

    }

    #return-hm {
        
    top: -20px;
    left: 5px;
    margin-top: 5px;
    font-size: 11px;
    padding: 5px 8px;
    background-color: green;
    color: black;
    font-weight: bold;
    border-color: #000;
    border-style: solid;
    border-width: 1px;

    }
 

}   


/* adding media query for large monitors*/
@media (min-width: 1440px) {
    #img2 {
        position: relative;
        bottom: 0;
        height: 25%;
    }

    #img4 {
        position: relative;
        bottom: 0;
        height: 25vh;
    }
}


/*for extra large screens */
@media (min-width: 3000px) {
    #img2 {

        position: relative;
        left: 50px;
        bottom: 0;
        
    }

    #img4 {
        position: relative;
        left: 50px;
        bottom: 0;
        
    }
}