#container {
    position: relative;
    overflow: hidden;
    border: 1px solid #000;
    width: 75vw;
    height: 100vh;
    display: flex;
    justify-content: center; 
    align-items: center;  


}


#sceneImg1 {
    position: absolute;
    top: 0;
    left: 0;
    background-image: url('./assets/Scene1.png');
    width: 100%;
    height: 100%;
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    opacity: 1;  
    animation: showScene1 10s infinite, zoomScene1 10s infinite;

}



#sceneImg2 {
    position: absolute;
    top: 0;
    left: 0;
    background-image: url('./assets/Scene2.jpg');
    width: 100%;
    height: 100%;
    background-size: cover;
    background-position: 100% 0;
    background-repeat: repeat-x;
    opacity: 0;  
    animation: showScene2 10s infinite, scrollScene2 10s linear infinite;
    z-index: 1;
}



.scene-text {
  position: absolute;
  color: white;
  font-weight: bold;
  text-shadow: 2px 2px 6px rgba(0,0,0,0.6);
  white-space: nowrap;
  opacity: 1; 
}


#sceneImg1 .line1 {
  top: 30%;              
  left: 55%;             
  transform: translateX(-50%); 
  font-size: 2.2rem;      
  position: absolute;
  color: black
}



#sceneImg1 .line2 { 
  top: 40%; 
  left: 50%; 
  transform: translateX(-50%); 
  font-size: 1.5rem; 
  position: absolute; 
  opacity: 0; 
  animation: slideInLine2 10s linear infinite; 
  animation-delay: 0s; 
  animation-fill-mode: forwards; 
}

#sceneImg1 .line3 { 
  top: 45%; 
  left: 50%; 
  transform: translateX(-50%); 
  font-size: 1.5rem; 
  position: absolute; 
  opacity: 0; 
  animation: slideInLine3 10s linear infinite; 
  animation-delay: 0s; 
  animation-fill-mode: forwards; 
}


#sceneImg2 .line4 {
  top: 20%;    
  left: 50%;
  transform: translateX(-50%);
  font-size: 2rem;
  position: absolute;
  opacity: 0;
  animation: slideInLine4 10s linear infinite;
  animation-fill-mode: forwards;
}

#sceneImg2 .line5 {
  top: 25%; 
  left: 50%;
  transform: translateX(-50%);
  font-size: 2rem;
  position: absolute;
  opacity: 0;
  animation: slideInLine5 10s linear infinite;
  animation-fill-mode: forwards;
}

#sceneImg2 .line6 {
  top: 30%; 
  left: 50%; 
  transform: translateX(-50%);
  font-size: 2rem;
  position: absolute;
  opacity: 0;
  animation: slideInLine6 10s linear infinite;
  animation-fill-mode: forwards;
}



@keyframes slideInLine2 { 
  0%, 10%   { transform: translateX(-150%); opacity: 0;  color: white; }
  20%, 70%  { transform: translateX(-35%); opacity: 1; color: #FFEF80}
  100%      { opacity: 0; color: white; } 
}

@keyframes slideInLine3 { 
  0%, 20%   { transform: translateX(-150%); opacity: 0; color: white;}
  30%, 70%  { transform: translateX(-65.5%); opacity: 1; color: #FFEF80 }
  100%      { opacity: 0; color: white;} 
}



@keyframes slideInLine4 {
  0%, 70%   { transform: translateX(-150%); opacity: 0; color: white; }  
  71%, 100% { transform: translateX(-50%); opacity: 1; color: #FFBF00; }   
}

@keyframes slideInLine5 {
  0%, 80%   { transform: translateX(-150%); opacity: 0; color: white;}  
  81%, 100% { transform: translateX(-28%); opacity: 1; color: #FFBF00;}   
}

@keyframes slideInLine6 {
  0%, 90%   { transform: translateX(-150%); opacity: 0; color: white;}  
  91%, 100% { transform: translateX(-21%); opacity: 1; color: #FFBF00}   
}




#book-now-btn {

    position: absolute;      
    top: 20px;               
    right: 20px; 
    padding: 15px 30px;
    font-size: 1.2rem;
    
    background-color: rgba(0, 255, 51, 0.625);
    color: #0a0a0a;
    border: none;
    border-radius: 8px;
    cursor: pointer;
    box-shadow: 0 4px 6px rgba(0,0,0,0.3);
    z-index: 10;
}


#home-btn {
    position: absolute;       
    bottom: 20px;          
    left: 20px;           
    padding: 15px 30px;
    font-size: 1.2rem;
    
    background-color: rgba(0, 123, 255, 0);
    color: #fff;
    border: none;
    border-radius: 8px;
    cursor: pointer;
    box-shadow: 0 4px 6px rgba(0,0,0,0.3);
    z-index: 10;         
}


#user-form-container {
    position: fixed;
    bottom: 20px;
    left: 50%;
    transform: translateX(-80%);
    z-index: 1000;
    background-color: rgba(255, 255, 255, 0.9);
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0 4px 6px rgba(0,0,0,0.3);
    display: none; 
    width: 400px; 
    min-height: 300px;
    
}




#progress-bar {
  position: relative; 
  top: 0;
  left: 0;
  width: 100%;
  text-align: center;
  background-color: #e0e0e0;
  padding: 5px;
  font-weight: bold;
}

.radio-group {
  display: flex;
  gap: 20px; 
  align-items: center;
  margin-top: 10px;
}

#step-5 h3 {
  text-align: center;       
  text-decoration: underline; 
}

.student-label {
  position: fixed;
  bottom: 10px;
  right: 380px;
  background-color: transparent;
  color: white;
  padding: 8px 12px;
  font-size: 14px;
  border-radius: 6px;
  z-index: 10000;
  line-height: 1.2;
}



@keyframes showScene1 {
    0%, 50% { opacity: 1; }
    55%, 100% { opacity: 0; }
}


@keyframes showScene2 {
    0%, 50% { opacity: 0; }
    55%, 100% { opacity: 1; }
   
}

@keyframes zoomScene1 {
    0%   { transform: scale(1); }
    50%  { transform: scale(1.30); }  
    100% { transform: scale(1.2); }
}


@keyframes scrollScene2 {
    50%   { background-position: 100% 0; }
    100% { background-position: 0 0; }
}

body {
  margin: 0;               
  background-color: #d3d3d3;  
  height: 100vh;           
}


.form-step {
  display: none;
}
.form-step.active {
  display: block;
}





/* Side Bar */

html {
    box-sizing: border-box;
}

*,
*:before,
*:after {
    box-sizing: inherit;
}

.clear::after {
    content: "";
    clear: both;
    display: table;
}

html,
body {
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-size: 15px;
    line-height: 1.5;
    color: #000;
}

#sidebar {
    width: 380px;           
    height: 100vh;           
    position: fixed;         
    top: 0;
    right: 0;               
    border-left: 1px solid #000; 
    background-color: #f0f0f0;    
    z-index: 1000;          
    overflow-y: auto;       
    padding: 20px;
}

.scene {
    position: relative;
    overflow: hidden;
    border: 1px solid #000;
    width: 75vw;
    height: 100vh;
}

#scene1 {
 
    visibility: hidden;   
    position: absolute;   
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: 5; 

    
}

#img1 {

    width: 100%;
    height: 120%;
    object-fit: fill;  
    position: absolute;
     top: -10%;
    left: 0;
  
} 


#scene2 {
    visibility: hidden;
    position: absolute;    
    top: 0;
    left: 0;
    width: 100%;           
    height: 100%;
    z-index: 5; 
}


#img2 {
    position: absolute;    
    width: 25%;           
    height: 20%;         
    object-fit: contain;     
    bottom: 0;
    left: 0;
    z-index: 10;           
    
}



#scene3 {
    visibility: hidden;   
    position: absolute;   
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: 5; 
}


#img3 {
    width: 100%;
    height: 120%;
    object-fit: fill;  
    position: absolute;
     top: -10%;
    left: 0;
   
}

#scene4 {
    visibility: hidden;   
    position: absolute;   
    bottom: 0;
    left: 0;
    width: 30%;
    height: 20%;
    z-index: 5; 
    
}


#img4 {

    position: absolute;    
    width: 110%;           
    height: 100%;         
    object-fit: contain;     
    bottom: 0;
    left: 0;
    z-index: 10;  
}
        


#scene5 {
    visibility: hidden;   
    position: absolute;   
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: 5; 
}


#img5 {
       width: 100%;
    height: 120%;
    object-fit: fill;  
    position: absolute;
     top: -10%;
    left: 0;
   
}


#scene6 {
    visibility: hidden;   
    position: absolute;   
    bottom: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: 5; 
    
}


#img6 {
  
  position: absolute;   
  bottom: -30px;            
  left: 50%;            
  transform: translateX(-50%); 
  width: 100%;           
  height: 50%;         
  object-fit: contain;
}


#scene7 {
    visibility: hidden;   
    position: absolute;   
    bottom: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: 5; 
    
}


#img7 {
  
  position: absolute;   
  bottom: -30px;            
  left: 50%;            
  transform: translateX(-50%); 
  width: 100%;           
  height: 50%;         
  object-fit: contain;
}




#txt1 {
position: absolute;
    font-size: 20px;
    right: 20px;
    top: 20px;
    left: 50%;
    transform: translateX(-50%);
    color:  black;
    text-shadow: -1px -1px 0 #000, 1px -1px 0 #000, -1px 1px 0 #000, 1px 1px 0 #000;
}


#txt2 {
  position: absolute;
    font-size: 25px;
    right: 20px;
    top: 70px;
    left: 50%;
    transform: translateX(-50%);
    color: blueviolet;
    text-shadow: -1px -1px 0 #000, 1px -1px 0 #000, -1px 1px 0 #000, 1px 1px 0 #000;
    
    
}

#txt3 {
position: absolute;
    font-size: 25px;
    right: 20px;
    top: 20px;
    left: 50%;
    transform: translateX(-50%);
    color:  #fff;
    text-shadow: -1px -1px 0 #000, 1px -1px 0 #000, -1px 1px 0 #000, 1px 1px 0 #000;
}


#txt4 {
position: absolute;
    font-size: 20px;
    right: 20px;
    top: 20px;
    left: 50%;
    transform: translateX(-50%);
    color: #fff;
    text-shadow: -1px -1px 0 #000, 1px -1px 0 #000, -1px 1px 0 #000, 1px 1px 0 #000;
}

#txt5 {
  position: absolute;
    font-size: 20px;
    right: 20px;  
    top: 60px;
    left: 50%;
    transform: translateX(-50%);
    background-color: yellow;   
    padding: 10px 15px;         
    border-radius: 6px; 
    color: black;
    text-shadow: -1px -1px 0 #000, 1px -1px 0 #000, -1px 1px 0 #000, 1px 1px 0 #000;
}


#adReplay {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-60%, -50%);
  font-size: 50px;
  color: white;
  background-color: rgba(0, 0, 0, 0.5);
  padding: 10px 15px;
  border-radius: 5px;
  cursor: pointer;
  z-index: 1000;
  opacity: 0;
  transition: opacity 0.3s ease;
}

